<font color = "white" size = "7"><b> ch01 파이썬 개요 및 환경설정</b></font>

 - 리스트 [], 튜플 (), 딕셔너리{구조체와 유사}, 셋(집합)

# 1절 리스트
## 1.1 리스트 만들기
    - [] 이용
    - 인덱스: 0부터 시작, -1은 맨 마지막 인덱스
    - 슬라이싱: [from:to:step]을 이용하여 추출

In [5]:
fruits = ['banana', 'apple', 'orange', 0]
type(fruits)

list

In [6]:
print(fruits)

['banana', 'apple', 'orange', 0]

In [7]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 0]

In [8]:
for i in fruits:
    print(i)

mango
apple
orange
0

In [12]:
# 별로 안좋은 방법
for i in range(len(fruits)):
    print('{}번째 과일은 {}'.format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 0

In [13]:
# 좋은 방법
for idx, value in enumerate(fruits):
    print('{}번째 과일은 {}'.format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 0

## 1.2 기본정보 조회

In [14]:
#list 기본 내장 함수
numbers = [1,2,3,4,5]
print('요소의 수 :', len(numbers))
print('최솟값 :', min(numbers))
print('최댓값 :', max(numbers))

요소의 수 : 5
최솟값 : 1
최댓값 : 5

## 1.3 요소추가

In [15]:
#     +    :두 리스트르 연결
# 리스트*n : 리스트 n만큼 반복
# append() : 요소 뒤에 추가
# extend() : 리스트의 요소별로 뒤에 추가

In [16]:
numbers = [1,2,3]
numbers = numbers+numbers
numbers

[1, 2, 3, 1, 2, 3]

In [17]:
numbers = [1,2,3]
print(numbers*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
numbers = [1,2,3]
numbers.append(4)
numbers

[1, 2, 3, 4]

In [20]:
numbers = [1,2,3,4]
num = [5,6]
numbers.append(num)
print(numbers)

[1, 2, 3, 4, [5, 6]]

In [21]:
numbers = [1,2,3,4]
num = [5,6]
numbers.extend(num)  # +와 기능 유사
print(numbers)

[1, 2, 3, 4, 5, 6]

In [23]:
numbers = [1,2,3,4]
numbers.extend('hello') 
print(numbers)

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## 1.4 인덱싱
    - index(찾고자하는 값, 1): 찾고자하는 값이 1번 인덱스부터 찾아 그 위치를 반환
    - count(찾고자하는 값): 찾고자하는 값이 몇번 나오는지 세서 반환

In [29]:
numbers = [1,2,3,[1,2,3],1,2,3]
print('2가 몇개인지 : {}'.format(numbers.count(2)))
print('4가 몇개인지 : {}'.format(numbers.count(4)))

2가 몇개인지 : 2
4가 몇개인지 : 0

In [30]:
2 in numbers  # numbers 안에 2가 있는지 여부

True

In [31]:
numbers.index(2,3)  #3번째 인덱스부터 2가 처음 나오는 인덱스를 반환

5

## 1.5 리스트의 원하는 내용만 추출
    - 슬라이싱 : 원하는 인덱스의 값 추출
    - 리스트 컴프리헨션  : 원하는 데이터만 추출

In [34]:
numbers = [1, 3, 5, 9, 10 ,12, 13, 18, 19, 20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [35]:
print(numbers[::2]) # 인덱스가 짝수인 값들 추출

[1, 5, 10, 13, 19]

In [36]:
#값이 짝수인 데이터만 추출
result = []
for num in numbers: 
    if num%2 == 0:
        result.append(num)
result

[10, 12, 18, 20]

In [37]:
#리스트 컴프리헨션
result = [num for num in numbers if num%2==0]  # numbers의 요소 중에 짝수만 result에 넣기
result

[10, 12, 18, 20]

In [38]:
# numbers 리스트의 제곱값을 리스트로 생성하여라(컴프리헨션 이용)
numbers = [1,3,5]
result = [num**2 for num in numbers]
result

[1, 9, 25]

In [39]:
# 과일의 글자가 5글자 이상인 과일을 추춯하세요
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [40]:
# 과일의 글자가 5글자 이상인 과일의 글자수를 출력하세요
[len(f) for f in fruits if len(f)>=5]

[6, 5, 5]

## 1.6 삭제하기
    - remove(data) : 해당 data가 제거 
    - del 리스트[idx] : idx 번째 요소 제거
    - pop() : 가장 마지막 인덱스 요소가 return되고 삭제됨

In [48]:
numbers = [1,2,3,4,5,6]
print(numbers.pop())
print(numbers)

6
[1, 2, 3, 4, 5]

In [49]:
numbers.remove(1)
numbers

[2, 3, 4, 5]

In [50]:
del numbers[1]
numbers

[2, 4, 5]

## 1.7 정렬하기

In [51]:
numbers = [9,10,1,5,6]
numbers.sort()
numbers

[1, 5, 6, 9, 10]

In [52]:
numbers = [9,10,1,5,6]
numbers.sort(reverse = True) #내림차순 정렬
numbers

[10, 9, 6, 5, 1]

## 1.8 리스트 복제

In [54]:
numbers = [6,1,2]  # numbers는 주소값이 들어있음
new_numbers = numbers  # 얕은 복사는 주소값을 복사함, numbers의 값이 바뀌면 new_numbers도 바뀜
numbers.sort()
print('정렬전 데이터:', new_numbers)
print('정렬후 데이터:', numbers)

정렬전 데이터: [1, 2, 6]
정렬후 데이터: [1, 2, 6]

In [55]:
numbers = [6,1,2]  
new_numbers = numbers.copy()  # 깊은 복사는 새로운 배열을 numbers와 똑같이 만들고 새로운 주소를 부여함 
numbers.sort()
print('정렬전 데이터:', new_numbers)
print('정렬후 데이터:', numbers)

정렬전 데이터: [6, 1, 2]
정렬후 데이터: [1, 2, 6]

# 2절 튜플
    - 리스트와 유사하지만 읽기 전용
    - ()이용해서 생성

In [56]:
city = ('서울', '부산', '광주', '대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [57]:
'~'.join(city)

'서울~부산~광주~대전'

In [59]:
list_ = ['서울']
type(list_)

list

In [62]:
t= ('서울', )
type(t)

tuple

# 3절 딕셔너리
    - 구조체와 유사
    - {}를 이용해서 생성, key-value쌍으로 구성
    - 값은 중복 가능하나, key는 중복 불가
    - index를 이용한 참조 불가

In [64]:
dic = {'name': '홍길동', 'address': '서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [68]:
dic['name'], dic['address']

('홍길동', '서울시 금천구')

In [70]:
dic.get('name'), dic.get('score')  # get 함수는 key값이 없어도 에러가 나지 않고 none 반환

('홍길동', None)

In [77]:
# dictionary 수정
dic['score'] = 100
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'sport': 'sleep'}

In [78]:
dic.pop('sport')
dic

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100}

In [83]:
# 리스트(튜플, 셋) 에서 출력하듯이 for 문 사용하면 key 값만 나옴
for key in dic:
    print(key)

name
address
score

In [84]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [85]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [86]:
dic.items()  # 많이 쓰임

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [88]:
for key, value in dic.items():
    print ('{} : {}'.format(key, value))

name : 홍길동
address : 서울시 금천구
score : 100

In [89]:
l = ['a', 'b', 'c']
'c' in l

True

In [90]:
dic = {'name': '홍길동', 'score':100}
'name' in dic

True

In [92]:
'홍길동' in dic  # key 값에 있어야만 True

False

In [93]:
len(dic)

2

# 4절 셋
    - 중복을 허용하지 않는 리스트(집합)
    - 순서가 없다(인덱스가 없다)

In [104]:
fruits = {'apple', 'orange', 'banana', 'banana', 0, 0, 3,3, 'apple'}
print(fruits)
print(type(fruits))

{0, 3, 'banana', 'apple', 'orange'}
<class 'set'>

In [107]:
fruits.add('kiwi')
print(fruits)
fruits.add('banana')
print(fruits)   # 원래 있는건 추가안됨

{0, 3, 'banana', 'apple', 'orange', 'kiwi'}
{0, 3, 'banana', 'apple', 'orange', 'kiwi'}

In [108]:
for data in fruits:
    print(data)

0
3
banana
apple
orange
kiwi

# 5절 연습문제

In [121]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [110]:
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [111]:
data = [200, 300, 400, 500]
numbers+=data
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [113]:
print(numbers[:5])

[1, 2, 3, 4, 5]

In [115]:
print(numbers[1::2])

[2, 4, 6, 8, 10, 200, 400]

In [122]:
for idx, value in enumerate(numbers):
    if (idx+1)%2==0:
        numbers[idx] = 0 
print(numbers)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [123]:
numbers = numbers[::-1]
print(numbers)

[0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [126]:
member = {'name': '홍길동', 'age': 20, 'address': '서울시 금천구', 'score':90}
print(member['address'])

서울시 금천구

In [130]:
member.pop('score')

90

In [132]:
member['address'] = '서울시 서대문구'
print(member)

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}