<font color = "white" size = "7"><b> ch02 자료형과 연산자</b></font>

# 1절 변수
## 1.1 변수 선언
    - 별도의 변수 선언과정 없음
## 1.2 변수 할당
    - 대입연산자(=) 사용

In [9]:
import numpy as np
print('제공되는 pi값은', np.pi)
r = 5
area = np.pi*r*r
print('계산된 넓이는', area)
print('area 타입은', type(area))
print('area 주소는', id(area))

제공되는 pi값은 3.141592653589793
계산된 넓이는 78.53981633974483
area 타입은 <class 'float'>
area 주소는 1706816800528

In [7]:
area = 10 # 새로운 값을 할당하면 주소도 바뀌고 타입도 바뀜
print('area 값은', area)
print('area 타입은', type(area))
print('area 주소는', id(area))

area 값은 10
area 타입은 <class 'int'>
area 주소는 140714172925000

In [8]:
area = '파이썬은 좋아요' # 새로운 값을 할당하면 주소도 바뀌고 타입도 바뀜
print('area 값은', area)
print('area 타입은', type(area))
print('area 주소는', id(area))

area 값은 파이썬은 좋아요
area 타입은 <class 'str'>
area 주소는 1706800200656

## 1.3 변수 이름 규칙
    - 문자(특수문자는 _제외하고 안됨), 숫자, _로 명명
    - 반드시 문자로 시작
    - 파이썬에서 제공되는 기본 함수명은 피하자, 꼭 써야한다면 int_ 식으로 _를 붙임
    - 파이썬 예약어는 변수명 불가(ex. if, for)

In [10]:
불용어 = '북한'
불용어

'북한'

In [11]:
if = 4

SyntaxError: invalid syntax (1720054281.py, line 1)

In [12]:
print(불용어)

북한

In [13]:
# 파이썬 변수는 함수 할당 가능
print = 5
# 이렇게 할 시 print 함수 사용 불가함

In [15]:
del print # print 변수 삭제, print 함수 다시 사용 가능

In [17]:
i = 3 + 3j # 복소수 사용가능
type(i)

complex

In [22]:
a, b = 10, 20 # 다중 선언
a, b

(10, 20)

In [23]:
a, b = b, a+b  # 다중 선언
print('a=', a,'\t b=', b) # a와 b가 동시에 병렬로 할당됨

a= 20 	 b= 30

## 1.4 도움말

In [25]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [26]:
# 도움말 기능 : 함수내에서 shift+tab 키 
print('a', 'b',sep='~')  # 기본적으로 , 가 들어가면 sep이 사이에 붙음

a~b

In [27]:
def make_number(x,y=0):   # y를 입력안해도 default 값인 0으로 들어감
    """doc string(함수의 도움말)
    매개변수 2개를 이용해서 2자리 정수를 만들어요
    x = 10의 자리수
    y = 1의 자리수(default값 0)
    """
    return x*10+y

In [29]:
make_number(5,4)

54

In [28]:
make_number(2)

20

In [33]:
make = make_number  # 함수를 변수에 할당 가능
make(6)

60

## 1.5 변수 삭제

In [34]:
del make

In [35]:
make(6)

NameError: name 'make' is not defined

# 2절 화면 I/O

In [36]:
first = input('첫번째 숫자는?') # 문자로 return
second = input ('두번쨰 숫자는?

첫번째 숫자는? 10
두번쨰 숫자는? 20

In [38]:
print('두수의 합은 {}'.format(first+second)) # 문자 + 문자로 출력됨

두수의 합은 1020

In [40]:
first = int(input('첫번째 숫자는?'))  # 숫자로 변경
second = int(input ('두번쨰 숫자는?'))
print('두수의 합은 {}'.format(first+second))

첫번째 숫자는? 10
두번쨰 숫자는? 30

두수의 합은 40

In [157]:
print('Hello', 'world', sep='~', end='\t')
print('Hello', 'Python')

Hello~world	Hello Python

# 3절 기본 자료형
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool 
    파이썬은 타입을 지칭하는 키워드가 없고, 변수 할당시 타입이 정해짐

## 3.1 숫자형

In [45]:
import sys
print(sys.maxsize) # 모든 크기의 정수를 다 처리 가능

9223372036854775807

In [46]:
a = sys.maxsize+100
print('값:{} / 주소:{}'.format(a, id(a)))
print(type(a))

값:9223372036854775907 / 주소:1706801631936
<class 'int'>

In [47]:
a = 1
print('값:{} / 주소:{}'.format(a, id(a)))
print(type(a))

값:1 / 주소:140714172924712
<class 'int'>

In [163]:
a = 3/2  # 정수형/정수형 -> 실수형
print('값:{:.2f} / 주소:{}'.format(a, id(a)))
print(type(a))

값:1.50 / 주소:1706820530384
<class 'float'>

In [49]:
a = int(3/2) # C언어 결과처럼 만들고자 하면 형변환 
a = 3//2  # C언어 결과처럼 만들고자 하면 몫연산자

In [50]:
f = 1.12e20  #1.12의 10의 20승
print(f)
f = 1.12e-20
print(f)

1.12e+20
1.12e-20

## 3.2 문자형

In [52]:
name = "홍길동'님'"
print(name)
name = '홍길동"님"'
print(name)
address = "서울시 \"금천구\" \ 가산디지털1로"
print(name, address)

홍길동'님'
홍길동"님"
홍길동"님" 서울시 "금천구" \ 가산디지털1로

In [54]:
text = "안녕하세요\n홍길동입니다\n반갑습니다"
print(text)

안녕하세요
홍길동입니다
반갑습니다

In [55]:
text = """안녕하세요
홍길동입니다
반갑습니다
"""
print(text)

안녕하세요
홍길동입니다
반갑습니다

In [56]:
# 문자열 슬라이싱
str_ = '0123456789'  # str는 함수라 변수명으로 사용안하는 것이 좋음 
str_

'0123456789'

In [60]:
str_[0:3]  # 0번째부터 3번째 앞까지

'012'

In [61]:
str_[-2]  # 음수 인덱스는 뒤에서 붙어 라는 뜻

'8'

In [62]:
str_[-5:-1]

'5678'

In [63]:
str_[5:] # 5번째부터 끝까지

'56789'

In [65]:
str_[:-5] # 처음부터 5번째 앞까지

'01234'

In [66]:
str_[5:19] # 슬라이싱에서는 인덱스를 벗어나면 끝까지라는 뜻

'56789'

In [67]:
print(str_[0:9:2]) # 0번째부터 9번째까지 2씩 인덱스 증가
print(str_[::2])   # 처음부터 끝까지 2씩 인덱스 증가

02468
02468

In [74]:
#끝부터 처음까지 거꾸로 
print(str_[9::-1])
print(str_[::-1])

9876543210
9876543210

## 3.3 논리형(True, False)

In [76]:
a = True
print(a)
print(type(a))
print(isinstance(a,bool)) # a가 bool자료형이냐

True
<class 'bool'>
True

In [77]:
#False로 간주하는 것: 0, None, ""(빈스트링), ''(빈스트링), [], {}, ()
#True로 간주하는 것: 0이 아닌 모든 수, " ", '\0'(널문자)

In [78]:
if 0+0j:
    print('True다')
else:
    print('False다')

False다

In [81]:
if ' ':
    print('True다')
else:
    print('False다')

True다

## 3.4 자료형 확인 및 변환
    - type() : 자료형 확인
    - int() : 정수형 변환
    - float() : 실수형 변환
    - str() : 문자형 변환
    - bool() : 논리형 변환

In [83]:
int('1,000')

ValueError: invalid literal for int() with base 10: '1,000'

In [84]:
float(True)

1.0

# 4절 포맷팅

In [87]:
name = '홍길동'
add = '서울시 금천구'
print('이름은 {}, 주소는 {}'.format(name, add))
print('이름은 {0}, 주소는 {1}'.format(name, add))

이름은 홍길동, 주소는 서울시 금천구
이름은 홍길동, 주소는 서울시 금천구

In [90]:
#옛날 방식
print('이름은 %s, 주소는 %s'%(name, add))
print(f'이름은 {name}, 주소는 {add}')

이름은 홍길동, 주소는 서울시 금천구
이름은 홍길동, 주소는 서울시 금천구

```
format 함수
    - '{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}. format(변수명, ....)
    - 정렬방법 : <(왼쪽정렬) >(오른쪽정렬) ^(가운데정렬)
    - 타입 : d(10진수), x(16진수), b(2진수), f(실수), s(문자)

```

In [165]:
a = 10
s = 'Hello'
print('[{0:&>10d}], [{1:*<20.2}]'.format(a,s))

[&&&&&&&&10], [He******************]

In [167]:
a = 1
b = 12345
c= 12145234
print('{:>10} {:>10} {:>10}'.format(a, b, c))

         1
     12345
  12145234

# 5절 연산자 
## 5.1 산술 연산자 : + - / * //(몫) %(나머지) **제곱
## 5.2 할당 연산자 : = += -= /= *=
## 5.3 논리 연산자 : &, and, |, or, not (연산자 우선순위가 높음)
## 5.4 비트 연산자 : &, |, ^(XOR) (연산자 우선순위가 높음)

In [93]:
print((10>3) & (10>5))  # 논리 연산자 : 앞뒤에 True 나 False 가 오면

True

In [94]:
print(12 & 1)  # 비트연산  12 : 1 1 0 0
                         # 1 : 0 0 0 1
print(12 | 1)

0
13

## 5.5 비교연산자 > >= < <= == !=

In [95]:
'아' < '하'

True

In [97]:
'*' < '1' < 'A' < 'a'  # 코드 순 : 특수문자 < 숫자 < 대문자 < 소문자

True

# 6절 문자열 다루기
    - 문자열 슬라이싱 : 문자변수[From:to:step]
    - len(문자열) : 문자갯수
    - 문자열.upper() : 대문자
    - 문자열.lower() : 소문자
    - 문자열.title() : 각 단어의 앞글자만 대문자로
    - 문자열.capitalize() : 첫문자만 대문자로 그 외는 소문자
    - 문자열.count('찾을문자열') : 찾을 문자열이 몇개 들어있는지 갯수 반환
    - 문자열.find('찾을문자열') : 찾을 문자열을 왼쪽부터 시작하여 몇번째 인덱스에 있는지 인덱스 반환 없으면 -1 반환
    - 문자열.rfind('찾을문자열') : 찾을 문자열을 오른쪽부터 시작하여 몇번째 인덱스에 있는지 인덱스 반환
    - 문자열.startswitch('특정문자열') : 특정문자열로 시작하는지 여부 T/F 반환
    - 문자열.endswitch('특정문자열') : 특정문자열로 끝나는지 여부 T/F 반환
    - 문자열.strip() : 좌우공백제거
    - 문자열.lstrip() : 왼쪽공백제거
    - 문자열.rstrip() : 오른쪽공백제거
    - 문자열.isdigit() : 문자열이 숫자 문자열인지 여부 T/F 반환
    - 문자열.islower() : 문자열이 소문자인지 여부 T/F 반환
    - 문자열.isupper() : 문자열이 대문자인지 여부 T/F 반환
    - 문자열.replace(oldStr, newStr) : oldStr을 newStr로 변경

In [114]:
temp = 'Python is easy, Python is smart.'
#       01234567890123456789012345678901
len(temp)

32

In [111]:
print('대문자로 : ', temp.upper())
print('첫글자만 대문자로 : ', temp.capitalize())
print('title() : ', temp.title())
print('count() : ', temp.count('Python'))
print('find() : ', temp.find('Python'))
print("replace('Python', ' ') : ", temp.replace('Python', ' '))

대문자로 :  PYTHON IS EASY, PYTHON IS SMART.
첫글자만 대문자로 :  Python is easy, python is smart.
title() :  Python Is Easy, Python Is Smart.
count() :  2
find() :  0
replace('Python', ' ') :    is easy,   is smart.

In [113]:
temp = '        Python          '
print('temp : ', temp)
print('temp : ', temp.strip())

temp :          Python
temp :  Python

In [115]:
temp = 'Python is easy, Python is smart.'
print('space 단위로 분리하여 list로 반환: ', temp.split())

space 단위로 분리하여 list로 반환:  ['Python', 'is', 'easy,', 'Python', 'is', 'smart.']

In [119]:
temp = '2024-05-30'
temp_list = temp.split('-')
temp_join = '~'.join(temp_list)
print('년월일 분리 :', temp_list)
print('년월일 연결 :', temp_join)

년월일 분리 : ['2024', '05', '30']
년월일 연결 : 2024~05~30

# 7절 날짜 다루기 
## 7.1 날짜

In [120]:
from datetime import date as dt
someday = dt(2024, 5, 30)
someday

datetime.date(2024, 5, 30)

In [121]:
print('{}'.format(someday))

2024-05-30

In [123]:
today = dt.today() 
today

datetime.date(2024, 5, 30)

## 7.2 시간

In [124]:
from datetime import datetime
now = datetime.today()
now

datetime.datetime(2024, 5, 30, 12, 48, 20, 373560)

# 8절 연습문제

In [127]:
#1 
print('이름을 입력하세요 >>')
name = input()
print('나이를 입력하세요 >>')
age = int(input())
print('{}님의 나이는 {}살 입니다'.format(name, age))

이름을 입력하세요 >>

 홍길동

나이를 입력하세요 >>

 23

홍길동님의 나이는 23살 입니다

In [151]:
num1 = int(input('첫번째 수'))
num2 = int(input('두번째 수'))
print('num1 + num2 = ', (num1+num2))
print('num1 - num2 = ', (num1-num2))
print('num1 * num2 = ', (num1*num2))
try:
    print('num1 / num2 = ', (num1/num2))
    print('num1 // num2 = ', (num1//num2))
    print('num1 % num2 = ', (num1%num2))
except ZeroDivisionError:
    print("두번째 정수에 0을 넣으시면 안됩니다")

첫번째 수 10
두번째 수 0

num1 + num2 =  10
num1 - num2 =  10
num1 * num2 =  0
두번째 정수에 0을 넣으시면 안됩니다

In [152]:
str1 = 'Hello World'
str2 = str1.split()
print(str2[1], str2[0])

World Hello

In [153]:
x = 'abcdef'
print(x[1:]+x[0])

bcdefa

In [154]:
x = 'abcdef'
print(x[::-1])

fedcba

In [155]:
c = int(input('섭씨 온도를 입력하세요'))
f = (c*1.8)+32 
if f==round(f):   # 온도가 정수면 소숫점 0자리까지만 출력
    print('섭씨 {}도는 화씨온도로 바꾸면 {:.0f}도입니다'.format(c, f))
else:
    print('섭씨 {}도는 화씨온도로 바꾸면 {:.2f}도입니다'.format(c, f))

섭씨 온도를 입력하세요 10

섭씨 10도는 화씨온도로 바꾸면 50도입니다

In [181]:
ans = []
n = 13579
n = str(n)
n = n[::-1]
for i in n:
    ans.append(int(i))
ans

[9, 7, 5, 3, 1]