<font color = "white" size = "7"><b> ch05 함수</b></font>
    
    - 반복해서 사용할 코드를 묶어서 구현
    - 같은 이름의 함수는 덮어씀(오버로딩 불가)
    - 함수 정의(구현)
    
    ```
        def 함수명([인수(매개변수)1, 인수2,...]):
            명령어 1
            명령어 2        
    ```

# 1절 함수의 정의 및 사용(호출)
## 1.1 함수정의

In [3]:
def my_hello(x, msg):  # 함수 정의
    for i in range(x):
        print(i, msg)

In [4]:
my_hello(3, '쉬는 시간입니다')

0 쉬는 시간입니다
1 쉬는 시간입니다
2 쉬는 시간입니다

- 함수는 변수다

In [5]:
type(my_hello)

function

In [6]:
my_hello = 10
my_hello(3, '쉬는 시간입니다')

TypeError: 'int' object is not callable

In [7]:
def my_hello(x):  # 앞써 정의한 함수를 덮어씀
    for i in range(x):
        print(i, '함수는 복습필수')

In [9]:
my_hello(3)

0 함수는 복습필수
1 함수는 복습필수
2 함수는 복습필수

In [11]:
def my_add(num1, num2, num3=0):  # num3은 기본값을 갖는 인수
                                 # 기본값을 갖는 인수는 순서인수 뒤에 와야한다
        # (num1, num2=0, num3):  이렇게 하면 안됨
    return num1 + num2 + num3
print(my_add(1,2,3))
print(my_add(1,2))

6
3

## 1.2 docstring
    - 함수 도움말(shift+tab로 볼 수 있음)

In [19]:
def fibonacci(n):
    """
    매개변수(인수)로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. 인수로 10 : 0 1 1 2 3 5 8 
    ex. 인수로 5  : 0 1 1 2 3 
    """
    a, b = 0, 1
    while a<n:
        print(a, end='. ')
        a, b = b, a+b
    print()  # 개행

In [20]:
fibonacci(10)

0. 1. 1. 2. 3. 5. 8.

In [21]:
type(fibonacci)

function

In [22]:
fibonacci

In [23]:
if __name__ == '__main__':
    fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

In [27]:
import fibonacci as fi
fi.fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

## 1.3 지역변수(local var)와 전역변수(global var)

In [32]:
global_var = 100 # 전역변수
def func1():
    print(global_var)

func1()
print(global_var)

100
100

In [33]:
def func2():
    local_var = 100  # 지역변수 : 함수내에서만 사용 가능한 변수    
    print(local_var)
func2()
print(local_var)

100

NameError: name 'local_var' is not defined

In [37]:
g_var = 100 # 전역변수
def func3():
    g_var = 200  # 지역변수로 새로 선언한 변수(함수가 끝나면 지워짐)
    print(g_var)
func3()
print(g_var)

200
100

## 1.4 Lexical 특성

In [38]:

g_var = 100 # 전역변수
def func3():
    print(g_var)  
    g_var = 200  
    print(g_var)
func3()
print(g_var)

UnboundLocalError: cannot access local variable 'g_var' where it is not associated with a value

## 1.5 전역변수 수정

In [39]:
g_var = 100 # 전역변수
def func3():
    global g_var # 함수내에서의 g_var는 전역변수를 쓸거야
    print(g_var) 
    g_var = 200  
    print(g_var)
func3()
print(g_var)

100
200
200

## 1.6 값에 의한 호출 (call by value)
    - 함수에 인수로 전달되는 변수가 스칼라 변수(숫자, 문자, 논리)일 경우

In [40]:
foo = 'ab'  # 스칼라 변수
id(foo)

2111225534832

In [42]:
def func1(f):
    print("Before : {}의 주소는 {}".format(f,id(f)))
    f *= 3  # 매개변수는 지역변수
    print("After : {}의 주소는 {}".format(f,id(f)))
func1(foo)
print("함수 호출 후 foo : {}의 주소는 {}".format(foo, id(foo)))

Before : ab의 주소는 2111225534832
After : ababab의 주소는 2111290521200
함수 호출 후 foo : ab의 주소는 2111225534832

## 1.7 참조에 의한 호출 (call by reference)
    - 함수에 전달되는 인수가 리스트, 딕셔너리, 셋일 경우

In [43]:
L = [1,2,3]
print("L의 내용은 {}, 주소는 {}".format(L, id(L)))

L의 내용은 [1, 2, 3], 주소는 2111304138048

In [46]:
# 변수가 스칼라 값이 아니면 전부 call by reference 함수임 
def func2(f):
    print("함수 내 before : L의 내용은 {} 주소는 {}".format(L, id(L)))
    f.append(4)
    print("함수 내 after : L의 내용은 {} 주소는 {}".format(L, id(L)))
func2(L)
print("L의 내용은 {}, 주소는 {}".format(L, id(L)))

함수 내 before : L의 내용은 [1, 2, 3] 주소는 2111304138048
함수 내 before : L의 내용은 [1, 2, 3, 4] 주소는 2111304138048
L의 내용은 [1, 2, 3, 4], 주소는 2111304138048

# 2절 함수의 실행결과를 반환하는 return
    - 여러개의 값을 반환할 수 있다(하나의 튜플로 반환)

In [47]:
# 여러값을 return
def swap(a,b):
    return b, a

In [51]:
x, y = 5, 10  # 자동적으로 (5, 10)으로 인식함
print("함수 실행 전 x={}, y={}".format(x,y))
x, y = swap(x,y)
print("함수 실행 후 x={}, y={}".format(x,y))

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절 함수의 매개변수
## 3.1 기본값을 갖는 매개변수

In [52]:
# 반드시 순서인수(기본값이 없는 인수), 기본값을 갖는 인수(키워드 인수 아님) 순으로 와야함
def make_url(ip, port=80):
    return "http://{}:{}".format(ip,port)

In [54]:
print(make_url("localhost"))
print(make_url("localhost", 8090))
print(make_url(port=8090, ip="localhost"))

http://localhost:80
http://localhost:8090
http://localhost:8090

## 3.2 튜플 매개변수를 이용한 가변인수(인수갯수가 가변) 설정

In [55]:
print('Hello', 'world')  # 인수의 갯수가 변해도 됨 : 가변인수

Hello world

In [60]:
# args앞에 * : args가 튜플로 전달 : 튜플 매개변수
# 매개변수를 몇개를 받던 튜플을 만들어서 받음
def add(*args):
    # print("전달받은 args : ", args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num
    return sum

In [57]:
add(1,2,3)

전달받은 args :  (1, 2, 3)
<class 'tuple'>

In [62]:
print(add( 1,2,3,4,5 ))
print(add(1))
print(add(1,2,3))

15
1
6

In [63]:
# 튜플이 모든 매개변수를 앞에서 받아감
def concat(*args, sep):
    return sep.join(args) 
concat("C" , "Python", "Oracle", "~")

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [64]:
# 해결책 1 
def concat(*args, sep):
    return sep.join(args) 
concat("C" , "Python", "Oracle", sep = "~")

'C~Python~Oracle'

In [65]:
# 해결책 2 -> 반드시 이 방법을 따라야함
# 순서인수를 튜플인수 앞에 써야함 
def concat(sep, *args):    # 기본값을 받는 인수는 튜플인수 뒤에옴
    return sep.join(args) 
concat("~", "C" , "Python", "Oracle")

'C~Python~Oracle'

In [68]:
# 해결책 3
def concat(*args, sep = "/"):  # 순서:  순서인수 > 튜플인수 > 키워드 인수
    return sep.join(args) 
# 키워드 인수를 사용할 때는 무조건 sep = "~"을 해줘야함
concat("C" , "Python", "Oracle", sep = "~")

'C~Python~Oracle'

## 3.3 딕셔너리 매개변수

In [70]:
def func(**args):  # **은 args가 딕셔너리로 전달 
    print(args)
    print(type(args))
func(name = "홍길동", age = 20)

{'name': '홍길동', 'age': 20}
<class 'dict'>

In [72]:
def func(**args):  # **은 args가 딕셔너리로 전달 
    for key, value in args.items():
        print("{} : {}".format(key, value))
func(name = "홍길동", age = 20)

name : 홍길동
age : 20

In [73]:
func(game_name = "서바이벌c", year = 2024, price = 33000)

game_name : 서바이벌c
year : 2024
price : 33000

## 3.4 함수 정의 시 매개변수의 순서
    - 순서인수 > 튜플인수(*) > 키워드 인수(매개변수 이름을 명시) > 딕셔너리 인수(**)

In [74]:
def func(a, b, c, *d, e=10, **f):
    print('a = ', a)
    print('b = ', b)
    print('c = ', c)
    print('d = ', d)
    print('e = ', e)
    print('f = ', f)

In [75]:
func(10,20,30,1,2,3,4,5,e=100, height=180, name="홍길동", address="서울시")

a =  10
b =  20
c =  30
d =  (1, 2, 3, 4, 5)
e =  100
f =  {'height': 180, 'name': '홍길동', 'address': '서울시'}

In [76]:
func(10,20,30,1,2,3,4,5, height=180, name="홍길동", address="서울시")

a =  10
b =  20
c =  30
d =  (1, 2, 3, 4, 5)
e =  10
f =  {'height': 180, 'name': '홍길동', 'address': '서울시'}

## 3.5 인수의 언패킹
### * 튜플 인수 언패킹

In [ ]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [79]:
data = (1,2,3,4,5,6)
add(*data)  #data 가 이미 tuple 변수이므로 *data 해주면 튜플이 풀림

21

### * 딕셔너리 인수 언패킹

In [80]:
def func(**args):  # **은 args가 딕셔너리로 전달 
    for key, value in args.items():
        print("{} : {}".format(key, value))
func(name = "홍길동", age = 20)

name : 홍길동
age : 20

In [83]:
dic = {"name" : "홍길동", "age" : 30}
func(**dic)

name : 홍길동
age : 30

# 4절 람다식
    - 람다식은 작은 익명함수를 의미함
    - 실행할 문장을 한문장만 작성할 수 있음
    - 리스트 컴프리헨션과 같이 참조해서 학습 추천
    - map(), filter()에서 사용할 예정

In [86]:
# 일반함수 
def add(a, b):
    return a+b
add(3,5)

8

In [87]:
type(add)

function

In [90]:
#람다식
add_l = lambda a, b : a+b  # 이름을 지정하려고 변수에 할당한 것
add_l(3,5)

8

In [91]:
type(add_l)

function

In [92]:
(lambda a, b : a+b)(5,6)  # 함수 이름을 따로 지정안해도됨

11

## * 매개변수로 람다식 이용

In [93]:
f = lambda x : x**2
f(3)

9

In [94]:
def map_template(func, L=[]):
    result = []
    for data in L:
        result.append(func(data))
    return result

In [95]:
l_data = [1,2,3,4,5]
map_template(lambda x:x**2, l_data)

[1, 4, 9, 16, 25]

In [98]:
list(map(lambda x:x**2, l_data))  # 앞에서 만든 map_template와 똑같은 일을 하는 내장함수 map이 존재

[1, 4, 9, 16, 25]

In [100]:
# 리스트 컴프리헨션이용
[x**2 for x in l_data]

[1, 4, 9, 16, 25]

In [101]:
l_data = [1,2,3,4,5]

In [102]:
def filter_template(func, L=[]):
    result  = []
    for data in L:
        if func(data):
            result.append(data)
    return result

In [107]:
filter_template(lambda x:x%2==0, l_data)

[2, 4]

In [108]:
list(filter(lambda x:x%2==0, l_data)) # list(filter()) 해주면 앞서 만든 함수와 같은 일을 함

[2, 4]

# 5절 파이썬 내장함수
    - print 처럼 import 하지 않고 쓸 수 있는 함수

# 연습문제

In [109]:
#함수의 인자로 리스트를 받은 후, 리스트 내에 있는 모든 정수값에 대하여 
#최대값과 최소값을 return하는 함수 get_max_min(data_list)를 구현하고 호출하시오
def get_max_min(L=[]):
    return max(L), min(L) 

list_= [1,4,7,9,16,5,6]
get_max_min(list_)

(1, 16)

In [115]:
#1~45사이의 로또번호 6개를 반환하는 make_lotto()함수를 정의하고 호출하시오
import random
random.seed()

lotto = set()
while (len(lotto)<6):
    num = random.randint(1,45)
    lotto.add(num)
lotto = list(lotto)
lotto.sort()
print(lotto)

[1, 13, 15, 20, 40, 41]

In [127]:
#369게임을 시뮬레이션하는 함수를 정의하라
#1단계 : game_369([1,2,3,4,5,6,7,8,9,13,20,33])
#- 결과 : [1,2, ‘짝’, 4,5, ‘짝’,7,8, ‘짝’, ‘짝’, 20,‘짝짝’]

def game_369(L):
    result = []
    for data in L:
        str_data = list(str(data))
        clap = ''
        for val in str_data:
            if ("3"==val) | ("6"==val) | ("9"==val):
                clap += '짝'
        if clap=='':
            result.append(data)
        else:
            result.append(clap)
    print(result)
    #return result_list
game_369([1,2,3,4,5,6,7,8,9,13,20,33])

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝']

In [125]:
#2단계 : game_369(1,2,3,4,5,6,7,8,9,13,20,33) #튜플인수이용
#- 결과 : [1,2, ‘짝’, 4,5, ‘짝’,7,8, ‘짝’, ‘짝’, 20,‘짝짝’]
# 선생님 방법
def game_369(*l):
    result = []
    
    for data in l:
        data_str = str(data) # '13'
        datastr_list = list(data_str) # ['1','3']
        clap = ''
        for s in datastr_list:
            if int(s)!=0 and int(s)%3 == 0: #3의 배수
                clap += '짝'
        if(clap==''):
            result.append(data)
        else:
            result.append(clap)
    return result
        
game_369(1, 2, 3, 4, 5, 6, 13, 20, 33)

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝']

In [50]:
x = ["E 2","S 2","W 1"]	
type(x[0])
a, b = x[0].split()
a

'E'

In [69]:
s = ["SOO","OOO","OOO", "OOO"]
[i[0] for i in s[1:3]]

['O', 'O']