In [ ]:
# 구버전
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:97% !important;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
</style>
"""))

In [1]:
# 새버전
from IPython.display import display, HTML
display(HTML("""
<style>
div.jp-WindowedPanel-outer.lm-Widget{padding:5px;}
div.lm-Widget{font-size:12pt;}
div.cm-content {font-family:Consolas; font-size:12pt;}
div.jp-OutputArea-output pre {font-size:12pt; font-weight:bold;}
input.jp-Stdin-input {font-family:Consolas; font-size:12pt;}
</style>
"""))

# 전국 신규 민간아파트 분양가격 동향 분석
* 2015부터 최근까지 부동산 가격 변동 추세가 아파트 분양가에도 반영될까?
* 공공데이터를 활용하여 데이터를 판다스 데이터프레임으로 가져와 전처리하고 요약한다
* 수치형 데이터와 범주형 데이터 다루기
* 데이터 형식에 따른 다양한 시각화 방법을 실습한다

## 다운로드
- https://www.data.go.kr에서 "아파트 분양 가격 동향"을 검색한 후, 자료를 다운받는다

# 1. 패키지로드 & 한글설정 & 경고메세지 ignore

In [2]:
# 라이브러리 로드
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# 시각화를 선명하게 표시되도록
%config InlineBackend.figure_format='retina'

#한글 폰트 설정
plt.rc("font", family="Malgun Gothic") # windows
# plt.rc('font', family='AppleGothic') # Mac
plt.rc("axes", unicode_minus=False) # y축

# 경고 메세지 안 보이게 
import warnings
warnings.filterwarnings(action='ignore')
# warnings.filterwarnings(action='default')

# 2. 데이터 로드

## ① 2013년9월부터 2015년8월까지 데이터는 df_first 변수에 담아 탐색

In [5]:
# df_first
df_first = pd.read_csv('data/전국 평균 평당 분양가격(2013년 9월부터 2015년 8월까지).csv', encoding = "CP949")
df_first.shape

(17, 22)

In [7]:
# df_first 한줄 출력
df_first.head(1)

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,...,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
0,서울,18189,17925,17925,18016,18098,19446,18867,18742,19274,...,20242,20269,20670,20670,19415,18842,18367,18374,18152,18443

In [8]:
# 출력가능한 최대 컬럼수 출력
pd.options.display.max_columns

20

In [9]:
# df_first의 모든 열이 나오도록 출력 가능한 최대 컬럼수 조정후 확인
pd.options.display.max_columns = df_first.shape[1]

In [11]:
# df_first 마지막 1줄 출력
df_first.tail(1)

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,2014년9월,2014년10월,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
16,제주,7674,7900,7900,7900,7900,7900,7914,7914,7914,7833,7724,7724,7739,7739,7739,7826,7285,7285,7343,7343,7343

In [13]:
# df_first 열별 데이터 갯수 및 타입 및 메모리 정보
df_first.info()  # 결측치 하나도 없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지역        17 non-null     object
 1   2013년12월  17 non-null     int64
 2   2014년1월   17 non-null     int64
 3   2014년2월   17 non-null     int64
 4   2014년3월   17 non-null     int64
 5   2014년4월   17 non-null     int64
 6   2014년5월   17 non-null     int64
 7   2014년6월   17 non-null     int64
 8   2014년7월   17 non-null     int64
 9   2014년8월   17 non-null     int64
 10  2014년9월   17 non-null     int64
 11  2014년10월  17 non-null     int64
 12  2014년11월  17 non-null     int64
 13  2014년12월  17 non-null     int64
 14  2015년1월   17 non-null     int64
 15  2015년2월   17 non-null     int64
 16  2015년3월   17 non-null     int64
 17  2015년4월   17 non-null     int64
 18  2015년5월   17 non-null     int64
 19  2015년6월   17 non-null     int64
 20  2015년7월   17 non-null     int64
 21  2015년8월   17 non-null     int64
dtypes: int64(21), object(1)
memory usage: 3.1+ KB

In [16]:
# 지역 컬럼을 index로 하여
df_first_temp = df_first.index(1)

TypeError: 'RangeIndex' object is not callable

In [14]:
# heatmap 으로 부동산 가격을 시각화한다
plt.figure(figsize=(20,5))
sns.heatmap(df_first_temp, annot = True, cmap=')
plt.show()

NameError: name 'df_first_temp' is not defined

## ② 이후 데이터는 df_last 변수에 담아 탐색

In [17]:
# df_last
df_last = pd.read_csv('data/주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20230630.csv', encoding = "CP949")

In [ ]:
# head로 파일을 5개만 미리보기합니다

In [ ]:
# tail로도 미리보기 합니다.

In [ ]:
# 데이터 요약하기(결측치가 있음) #분양가격(제곱미터)는 문자를 수치형으로 변경하여야 평당분양가격 계산 가능

# 3.df_last의 데이터 결측치를 확인하고 대체할지 고민한다

# 4. df데이터셋에 분양가격(제곱미터) 데이터의 타입변경 후 평당분양가격 추가

In [ ]:
# 분양가격(제곱미터) 컬럼이 문자형이라 수치형으로 변경한 후 평당분양가격 추가
df.last.loc[0, '분양가격(제곱미터)',

In [18]:
# 결측치가 있는 곳 출력하기
df_last[df_last['분양가격(제곱미터)'].isna()].head()

    지역명                     규모구분    연도  월 분양가격(제곱미터)
368  광주  전용면적 85제곱미터초과 102제곱미터이하  2016  2        NaN
369  광주           전용면적 102제곱미터초과  2016  2        NaN
374  대전           전용면적 102제곱미터초과  2016  2        NaN
388  강원  전용면적 85제곱미터초과 102제곱미터이하  2016  2        NaN
421  제주            전용면적 60제곱미터이하  2016  2        NaN

In [19]:
# 기본적으로 '분양가격(제곱미터)' 컬럼은 str이지만 결측치가 있는 곳은 float로 나옴
type(df_last.loc[368, '분양가격(제곱미터)'])

float

In [20]:
# df_last['분양가격(제곱미터)'].astype('float64') #특정열 데이터타입변경 에러 이유 : ' ' 땜시
df_last['분양가격(제곱미터)'].astype('float64')

ValueError: could not convert string to float: '  '

In [21]:
# df['월'].astype('int64')에러 나는 이유는 ?
df_last['월'].astype('int64')

0       10
1       10
2       10
3       10
4       10
        ..
7900     6
7901     6
7902     6
7903     6
7904     6
Name: 월, Length: 7905, dtype: int64

In [26]:
# 분양가격(제곱미터)컬럼이 공백이나 space인 행의 갯수
df_last[df_last['분양가격(제곱미터)'].str.strip()==''].head(2)
print(len(df_last[df_last['분양가격(제곱미터)'].str.strip()=='']))

36

In [27]:
# 분양가격이 빈스트링인 모든 데이터에 결측치 할당
df_last[df_last['분양가격(제곱미터)'].str.strip()==''] = np.nan

In [ ]:
# 분양가격(제곱미터)컬럼이 공백이나 space인 행을 결측치로 할당한 후 갯수는 0인지 확인

In [ ]:
df_last.loc[6443] # 분양가격이 space였던 행 확인

In [ ]:
# df_last 요약정보
df_last.info()

In [28]:
# 범주형일 때 기술통계 요약정보
df_last['분양가격(제곱미터)'].describe()

count     7322
unique    2764
top       3395
freq        20
Name: 분양가격(제곱미터), dtype: object

In [29]:
# '분양가격(제곱미터)' 컬럼의 타입을 float64로 변경하여 '제곱미터당분양가격'으로 한다
df_last['분양가격(제곱미터)'] = df_last['분양가격(제곱미터)'].astype('float64')

In [30]:
# '제곱미터당분양가격' 컬럼의 기술통계 요약 (max가 아주 커서 mean과 중위수 차이남)
df_last['분양가격(제곱미터)'].describe()

count     7322.000000
mean      3723.138214
std       1533.511206
min       1868.000000
25%       2675.250000
50%       3273.000000
75%       4295.750000
max      13835.000000
Name: 분양가격(제곱미터), dtype: float64

In [31]:
# '평당분양가격' 컬럼 생성
df_last['평당분양가격'] = df_last['제곱미터당분양가격']*3.3

KeyError: '제곱미터당분양가격'

In [ ]:
# df_last head로 데이터 2줄 확인

# 5. df_last데이터셋에서 전용면적 컬럼 추가(메모리 절약차원)

In [ ]:
df_last['규모구분'].unique()

In [ ]:
df_last['전용면적'] = df_last['규모구분'].str.replace('전용면적','')
df_last['전용면적'] = df_last['전용면적'].str.replace("제곱미터", "㎡")
df_last['전용면적'] = df_last['전용면적'].str.replace('초과','~')
df_last['전용면적'] = df_last['전용면적'].str.replace('이하','')
df_last['전용면적'] = df_last['전용면적'].str.replace(' ','').str.strip()
df_last.head()

In [ ]:
df_last.info()

# 6. 메모리 사용량을 줄이기 위해 사용하지 않을 컬럼(규모구분, 분양가격(제곱미터)컬럼)은 제거한 후 메모리 사용량을 전후로 확인

In [ ]:
#axis=1이 없으면 axis=0으로 되어 행제거하나 규모구분,분양가격이라는 행이 없어 에러
# "규모구분","분양가격(제곱미터)","제곱미터당분양가격" 컬럼 제거

In [32]:
# 평당 분양가격이 결측치 값인 행 인덱스 출력
df_last[df_last['평당분양가격'].isna()]

KeyError: '평당분양가격'

In [ ]:
# 평당 분양가격이 결측치 값인 행 제거
df_last.drop(df_last[df_last['평당분양가격'].isna()].index, inplace=True)

In [ ]:
# 결측치 데이터가 다 없어졌는지 확인

In [ ]:
# df_last 열별데이터갯수, 타입, 메모리 정보 확인

In [ ]:
# 전처리 완성된 데이터를 저장

# 7. GroupBy이용
 - groupby를 통해 데이터를 그룹화해서 연산
 - <font size="" color="red"><b>df_last.groupby(["인덱스로사용할컬럼명"])['계산할컬럼값"].연산()</b></font>
##  ① 지역별 데이터 수, 평당분양가격(평균)

In [33]:
df_last.groupby(['지역명'])['연도'].mean()

지역명
강원    2019.129032
경기    2019.129032
경남    2019.129032
경북    2019.129032
광주    2019.182819
대구    2019.129032
대전    2019.134066
부산    2019.129032
서울    2019.120950
세종    2019.129032
울산    2019.114719
인천    2019.129032
전남    2019.114719
전북    2019.129032
제주    2019.150655
충남    2019.129032
충북    2019.129032
Name: 연도, dtype: float64

In [37]:
# 지역명별 결측치를 제외한 데이터 수
df_last.groupby(['지역명']).count()

     규모구분   연도    월  분양가격(제곱미터)
지역명
강원    465  465  465         453
경기    465  465  465         465
경남    465  465  465         456
경북    465  465  465         443
광주    454  454  454         384
대구    465  465  465         456
대전    455  455  455         345
부산    465  465  465         463
서울    463  463  463         457
세종    465  465  465         391
울산    462  462  462         334
인천    465  465  465         461
전남    462  462  462         451
전북    465  465  465         461
제주    458  458  458         393
충남    465  465  465         446
충북    465  465  465         463

In [ ]:
# 지역별 평당분양가격 max값나 min값

In [ ]:
# 지역별 평당분양가격(평균)

In [ ]:
# 지역별 평당분양가격 min, max, mean, 사분위수

In [ ]:
# 전용면적별 평당분양가격(평균)

In [ ]:
# 지역별, 전용면적별 평당분양가격(평균)
 # 전용면적가 컬럼값으로 표

In [ ]:
# 연도별, 지역명별 평당분양가격

In [ ]:
# 위에ㅓ의 연도별, 지역명별 평당분양가격을 heatmap으로 시각화

# 8. 위의 그룹화한 내용을 막대그래프로 시각화

In [ ]:
# 지역별 평균 평당분양가격을 내림차순정렬하여 막대그래프로 시각화

In [ ]:
# 지역별 정렬된 평균 평당분양가격 lineplot

In [ ]:
# 전용면적별 평균  평당분양가격 그래프

In [ ]:
# 월별, 연도별 평당분양가격 변동

Boxplot (상자수염그림)
https://ko.wikipedia.org/wiki/%EC%83%81%EC%9E%90_%EC%88%98%EC%97%BC_%EA%B7%B8%EB%A6%BC

In [ ]:
# 위의 월별, 연도별, 평당분양가격 boxplot

In [ ]:
# 위의 월별, 연도별, 평당분양가격 lineplot => 월별, 연도별 분양가 상한선 확인

In [ ]:
# boxplot으로 지역별 평당분양가격 시각화

# 9. seaborn으로 시각화(위에서 그린 시각화내용을 일부또는 그 이상을 seaborn으로 시각화)

## ① 지역별 평당분양가격(평균)

In [ ]:
# 지역별 평당 분양가격

In [ ]:
# 만약 정렬을 원한다면 groupby후 sort_values()한후 시각화한다.

## ② 연도별 평당분양가격(평균)

In [ ]:
# 연도별 평당분양가격 barplot

In [ ]:
# 년도별 평균 평당분양가격의 추이

In [ ]:
# 년도별 지역별 평균 평당분양가격

In [ ]:
# 연도별 평당분양가격의 사분위수(boxplot)

In [ ]:
# 연도별 평당분양가격의 사분위수와 분포

In [ ]:
# 연도별 전용면적별 boxenplot

In [ ]:
# boxplot으로 지역별 평당분양가격을 그려봅니다.

# 10.	구조가 다른 df_first와 df_last의 전용면적 전체의 데이터를 하나의 같은 데이터 셋으로 합쳐서 분석을 한다. 분석은 위의 내용을 참조하여 각자 분석한다(전용면적별 분석 불가)

In [ ]:
df_first.sample()

- melt 도움말
    - https://pandas.pydata.org/docs/user_guide/reshaping.html
- tidy data
    - https://vita.had.co.nz/papers/tidy-data.pdf

In [ ]:
new_first = df_first.melt(id_vars="지역", 
                          var_name="연도월", 
                          value_name="평당분양가격")
new_first.head()
# melt를 통해 녹인 연도월 데이터는 전처리하기 편하게 데이터로 옴

In [1]:
def parse_year(x):
    return int(x.split("년")[0])
parse_year("2013년12월")

2013

In [2]:
def parse_month(x):
    return int(x.split("년")[-1].replace("월",""))
parse_month("2013년12월")

12

In [ ]:
# "연도월" 컬럼을 "연도"컬럼과 "월"컬럼으로 분리한다(lambda함수 이용)

In [ ]:
# "연도월" 컬럼을 제거하고, 컬럼명을 ["지역명","평당분양가격","연도","월"]로 수정

In [ ]:
#df_last 데이터 중 "전용면젹"이 "모든면적"인 데이터만 복사한다(깊은복사)

# "전용면적"컬럼 제거

new_last.head()

In [ ]:
# new_first와 new_last 행병합

df.sample()

In [ ]:
# index 재조정
df.index = range(df.shape[0])
df.head()